html {
    background: url(../images/avo-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.placer {
    margin-top: 20px;
    height: 70vw;
}
.background {
    background: url();
}
header {
    background: beige;
}
form :focus:required:valid {
    border-color: green;
}
form :focus:required:invalid {
    border-color: saddlebrown;
}