html {
    background: url(https://i.imgur.com/qK7y5UZ.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.placer {
    margin-top: 20px;
    height: 70vw;
}
.background {
    background: url();
}